body {
    color: white;
    background: rgb(37, 39, 145);
}

.heading {
    width: 80%;
    font-size: 22px;
}

#camera {
    border: 2px dashed rgb(115, 43, 43);
    width: 350px;
    height: 300px;
}

.name_of_objects,
#result_object_name,
#result_object_accuracy {
    color: yellow;
}